:root {
  font-size: 1.75em;
  font-family: "Raleway", sans-serif;
  --mono-font: "JetBrains Mono";
  --bg-color: #343338;
  --fg-color: #E0DCE8;
  --accent-color: #B198EB;
}

@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
}

main {
  margin: auto;
  padding: 3em;
  width: 700px;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: bolder;
}

h2 {
  font-size: 1.75rem;
}

#title {
  text-align: right;
  font-size: 3rem;
  font-family: var(--mono-font);
  color: var(--accent-color);
}

p {
  text-align: justify;
  margin: 1em 0;
}

tt {
  font-family: var(--mono-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links a {
  font-family: var(--mono-font);
}

.social-links a::before {
  content: "🔗";
}

@media only screen and (max-width: 420px) {
  :root {
    font-size: 1.65em;
  }

  main {
    width: 100vw;
  }

  #title {
    text-align: center;
  }
}

.bold {
  font-weight: bold;
}
